body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}
.name{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px !important;
    font-weight: 900;
  
    
}

.homepage-desc {
    color: #1f1235;
    width: 30vw;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.main-img {
    margin-top: 150px;
    max-width: -webkit-fill-available;
    max-width: fill-available;
}

.custom-card {
    margin: 0 auto;
    float: none;
    margin-bottom: 50px;
    width: 450px;
    color: #1f1235;
}

.card-title {
    color: #1f1235
}

.card-logo {
    font-size: 23px;
    padding-right: 10px;
}

.card-row {
    display: flex;
    margin-bottom: 25px;
}
.row-head{
    font-weight: 900;
}
.row-span{
    font-size: 18px;
    font-weight: 700;

}
.button-row{
    display: flex;
    justify-content: center !important;

}
.appointment-btn{
    background-color: #094067;
    border: none;
}
.appointment-btn:hover{
    background-color:#094067;
    border: none;
    opacity: .8;
}
.appointment-btn:active{
    background-color:#094067;
    border: none;
    opacity: .8;
}

.card-sub {
    display: flex;
    flex-direction: column;
}

.doctor-image {
    height: 250px;
    width: 250px;
    border: 1px solid gray;
}

@media (max-device-width: 640px) {
    .homepage-desc {
        width: 100%;
        font-size: 2.0rem;
    }
    .name{
        font-size: 50px;
    }
}